@primary-color: red;

body {
    background-color: black !important;
    color: white !important;

    .wrapper {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 35px 0px;
        height: 100%;
        width: 100%;

        .talentTable {
            padding: 35px;
            border: solid 1px red;

            .tableContainer {
                border: solid 1px green;

                .talentRow {
                    display: flex;
                    
                    .talent {
                        text-align: center;
                        width: 33%
                    }
                }
            }
        }
    }    
}